label {
    cursor: pointer;
}
  
label:hover {
    transform: scale(1.2);
}

input[type="radio"]:checked + label {
    border-style: solid;
    border-radius: 5px;
    border-width: thick;
    border-color: #136def;
}