{%extends "base.html" %}

{% block title %} 

ValoVault - Adicionar Coleção

{% endblock %}


{% block conteudo %}

    <br><br>

    <div class="container">
        <div class="text-center">
            <p class="h1">Adicionar Skin à Coleção</p>
        </div>
    </div>

    <br><br>

    <div class="container">

        <form method="post" action="#">
            {% for b in bundles %}
                <input type="checkbox" name="{{ b[0] }}" id="{{ b[0] }}" value="{{ b[0] }}" style="background-image:url('/static/Bundles/{{ b[1] }}.png');"/><label for="{{ b[0] }}">{{ b[1] }}</label>
            {% endfor %}
             
        </form>

    </div>


{% endblock %}