{%extends "base.html" %}

{% block title %} 

Coleção - ValoVault

{% endblock %}


{% block conteudo %}

    <br><br>

    <div class="container">
        <div class="text-center">
            <p class="h1">Coleção</p>
        </div>
    </div>

    <br><br>

    <div class="container text-center">
        <a type="button" class="btn btn-dark btn-lg" href="{{ url_for('add_col') }}">Adicionar Skin</a> 
    </div>
    
    <br><br>

    {% if colecao|length == 0 %}
        <div container>
            <h1 class="display-5 text-center">A coleção está vazia. Adicione skins à sua coleção</h1>
        </div>

    {% else %}

        <div class="container">
            {% for a in colecao %}
                <p class="h3">{{ a }}</p>
                <div class="row">
                    {% for t in colecao[a] %}
                        <div class="col">
                            <a href="{{ url_for('pag_skin', nome=t[1]) }}">
                                <img src="static/{{ a }}/{{ t[1] }}.png" class="img-thumbnail">
                            </a>
                            <p class="h5">{{ t[1] }}</p>
                            <a href="{{ url_for('rem_col', id=t[0]) }}" type="button" class="btn btn-danger btn-sm">Remover Skin</a>
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <br><br>

            {% endfor %}

        </div>

    {% endif %}


{% endblock %}