{%extends "base.html" %}

{% block title %} 

ValoVault

{% endblock %}


{% block conteudo %}

    <br><br>

    <div class="container">
        <div class="text-center">
            <p class="h1">ValoVault</p>
            <br>
            <p class="h5">ValoVault é um gerenciador de skins de Valorant onde pode adicionar skins à sua coleção. Pode também criar uma wishlist com as skins que pretende obter futuramente.</p>
        </div>
    </div>

    <br><br>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a type="button" class="btn btn-dark btn-lg" href="{{ url_for('colecao') }}">Coleção</a>
            </div>
            <div class="col text-center">
                <a type="button" class="btn btn-dark btn-lg" href="{{ url_for('wishlist') }}">Wishlist</a>
            </div>
        </div>  
    </div>

    <br><br>

{% endblock %}