{%extends "base.html" %}

{% block title %} 

Home - ValoVault

{% endblock %}


{% block conteudo %}

    <br><br>

    <div class="container">
        <div class="text-center">
            <img src="static/Valorant.png" class="img-fluid">
            <br><br>
            <p class="h1">ValoVault</p>
            <br>
            <p class="h5">ValoVault é um gerenciador de skins de Valorant. Pode adicionar e remover skins à sua coleção. Também é possível criar uma wishlist.</p>
        </div>
    </div>

    <br><br>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a type="button" class="btn btn-dark btn-lg" href="{{ url_for('colecao') }}">Ver Coleção</a>
            </div>
            <div class="col text-center">
                <a type="button" class="btn btn-dark btn-lg" href="{{ url_for('wishlist') }}">Ver Wishlist</a>
            </div>
        </div>  
    </div>

    <br><br>

{% endblock %}