{%extends "base.html" %}

{% block title %} 

ValoVault - Adicionar Coleção

{% endblock %}


{% block conteudo %}

    <br><br>

    <div class="container">
        <div class="text-center">
            <p class="h1">Adicionar Skin à Coleção</p>
            <br>
            <p class="h3">Selecione a arma</p>
        </div>
    </div>

    <br><br>

    <div class="container">

        <form method="post" action="{{ url_for('sel_arma_col', skinID = skinID)}}">
            <div class="row">
                {% for s in bundles %}
                    {% if s[0] == skinID %}
                        {% for a in bundles[s] %}
                            <div class="col">
                                <input type="radio" name="arma" class="visually-hidden" id="{{ a[0] }}" value="{{ a[0] }}">
                                <label for="{{ a[0] }}">
                                    <img src="/static/{{ a[1] }}/{{ s[1] }}.png" alt="{{ a[1] }}" width="350">
                                </label>
                                <br><br>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-dark btn-lg">Selecionar</button>
            </div>
        </form>
    </div>


{% endblock %}