{%extends "base.html" %}

{% block title %} 

ValoVault - Wishlist

{% endblock %}


{% block conteudo %}

    <br><br>

    <div class="container">
        <div class="text-center">
            <p class="h1">Wishlist</p>
        </div>
    </div>

    <br><br>
    
    <div class="container text-center">
        <a type="button" class="btn btn-dark btn-lg" href="{{ url_for('add_wish') }}">Adicionar Skin</a> 
    </div>

    <br><br>

    {% if wishlist|length == 0 %}
        <div container>
            <h1 class="display-5 text-center">A wishlist está vazia. Adicione skins à sua wishlist</h1>
        </div>

    {% else %}

        <div class="container">
            {% for a in wishlist %}
                <p class="h3">{{ a }}</p>
                <ul>
                    {% for t in wishlist[a] %}
                        <li class="h5">{{ t[1] }} <a href="{{ url_for('rem_wish', id=t[0]) }}" type="button" class="btn btn-danger btn-sm">Remover Skin</a></li>
                    {% endfor %}
                </ul>
                <hr>
                <br><br>

            {% endfor %}

        </div>

    {% endif %}


{% endblock %}